fastapi
uvicorn[standard]
jinja2
python-multipart
weasyprint
pydyf
cffi
pdfkit
trml2pdf
httpx>=0.28.1
# HTTP & AI
httpx>=0.28.1
groq
sqlalchemy
pydantic
asyncpg
sqlalchemy
pydantic[email]
python-dotenv
pytz
python-jose==3.3.0
passlib>=1.7.4
python-multipart
bcrypt==4.3.0

